<%# app/views/users/new.html.erb %>
<h1>Sign Up</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <! -- Other fields: birthdate, address, etc. -->

  <div>
    <%= form.submit "Create Account" %>
  </div>
<% end %>
